<h2> All products for auction </h2>

<ul>
  <% @products_array.each do |the_product| %>
    <li>
      <h3>
        <a href="<%= product_path(the_product) %>">
          <%= the_product.title %>
        </a>
      </h3>

      <p>
        Sold by
        <a href="<%= user_path(the_product.user) %>">
          <em> <%= the_product.user.email %> </em>
        </a>
      </p>

      <p>
        Auction ends:
        <time> <%= the_product.deadline %> </time>
      </p>
    </li>
  <% end %>
</ul>
